/**
 * @file
 * Styles for the media_resourcespace module.
 */

.media-rs-result-table {
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: fixed;
}

.media-rs-result-table td {
  vertical-align: top;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.media-rs-result-table-thumb {
  width: 150px;
}

.media-rs-result-table-detail {
}

.media-rs-result-table-size {
  width: 25em;
}

.media-rs-file-detail-table {
  min-width: 20em;
}

.media-rs-file-detail-table dt {
  font-weight: bold;
  float: left;
  clear: left;
  width: 5em;
  margin-right: 1em;
}

.media-rs-file-detail-table dd {
  min-width: 13em;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap !important;
  white-space: -moz-pre-wrap !important;
  overflow: hidden;
}

/* Only break between the size name and details. */
.media-rs-media-item span {
  white-space: nowrap;
}

/* This assumes the ResourceSpace default of 150x150 thumbnails. */
.media-rs-thumbnail-div {
  width: 150px;
  max-width: 150px;
  height: 150px;
  white-space: nowrap;
  text-align: center;
  background-color: rgb(204,204,204);
  overflow: hidden;
}

/* CSS hack to centre the image. */
.media-rs-thumbnail-div span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* The standard Media thumbnails are 180x180. */
.media-rs-generic-thumbnail {
  vertical-align: middle;
  width: 150px;
  height: 150px;
}

.media-rs-thumbnail {
  vertical-align: middle;
}

/* Only break between the size name and details. */
.media-rs-size-name {
  white-space: nowrap;
}

.media-rs-size-list {
  min-width: 20em;
  max-width: 90%;
  clear: both;
  padding-left: 0 !important;
  margin-right: 10px;
  margin-top: 0px;
}

.media-rs-resource-size {
  margin-bottom: 0px !important;
  width: 100%;
}

.media-rs-media-item {
  width: 100%;
}

#container: {
  clear: both;
}

